.header {
    display: flex;
    align-items: center;
    background-color: rgb(211, 90, 90);
    height: 4rem;
}

.header a {
    display: flex;
    align-items: center;
    color: white;
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 10px;
}
