<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened 
    fixedInViewport=false fixedTopGap="65">
        <mat-nav-list>
            <a mat-list-item routerLink="">
                Cadastrar
            </a>
            <a mat-list-item routerLink="consulta">
                Consulta
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet>

        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>